.table {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    max-width: 650px;
    background-color: rgba(255, 255, 255, 0.3);

}

.table th, td {
    padding: 20px;
    border: 1px solid #dddddd;
}

@media (max-width: 1266px) {
    .table {
    max-width: 650px;

    }
}

@media (max-width: 723px) {
    .table {
        /* max-width: 500px; */
        display: block;
        margin: 1% 20%;
    }
}

@media (max-width: 400px) {
    .table {
        display: block;
        margin: 1% 20%;
    }
}